jobs/__pycache__/2strat.cpython-39.pyc
certs/
.env
.ipynb_checkpoints/
logs/
__pycache__/
*.pyc
betenv/
.venv/
__pycache__/
*.pyc
.env
jobs/__pycache__/
.vscode/
poetry.toml
anaconda*
research/hist_data/self_recorded/
research/hist_data
