[Unit]
Description=Write daily trades per strat to store/report file

[Service]
Type=oneshot
WorkingDirectory=/root
ExecStart=/root/betting/.venv/bin/python -u /root/betting/jobs/strat_trades_report.py

[Install]
WantedBy=multi-user.target
